.cell {
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-color: var(--border-secondary) var(--border-primary) var(--border-primary) var(--border-secondary);
  background-color: var(--ui-primary);
}