.minefield  {
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 0;
  border: 3px solid;
  border-color: var(--border-primary) var(--border-secondary) var(--border-secondary) var(--border-primary);
}